/* Media Queries */

/* Mobile and Tablet Layout */
@media screen and (max-width: 767px) {
    .container-fluid{
        padding:0px;
    }
    .loginTopSpace{
        margin-top:50px;
    }
    .loginwrap h1{
        font-size:24px;
    }
    .loginwrap{
        padding:0px 0px 40px 0px;
    }
    .logininput, .pwdinput, .login-btn{
        width:100%;
    }
    .form-inline .btn {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.my-2 {
	    text-align: right;
	}
	.nav>li>a{
		font-size: 18px;
		border-bottom: solid 1px #3a5671;
	}
	#navbar .glyphicon{
		top: -3px;
		width: 41px;
	}
    .marleft{
        margin-left:0px;
    }
    nav.top{
	   margin: 10px;
    }
    .white-container{
        margin-left:10px;
        margin-right:10px;
    }
    .navbar-header .logo{
        margin:14px 20px;
    }
}

@media (min-width: 576px){
	.mr-sm-2 {
	    margin-right: 1.8rem!important;
	}
}

@media (min-width: 768px){
	.white-container .placeholders{
		padding-top: 30px;
	}
	.sidebar{
		background: none;
	}
	.white-container{
		border-radius: 8px;
		overflow: hidden;
		border: solid 1px #41646c;
		border-left: 0;
		border-bottom: 0;
	}
	.navbar-collapse{
		padding: 0;	
	}
	#navbar .nav>li>a{
		text-align: center;
		padding: 25px 5px;
		background: #152636;
		color: #fff;
		border-top: solid 1px #3a5671;
		-webkit-transition: background .3s;
    	transition: background .3s;
	}
	#navbar .nav>li>a:hover{
		background-color: #0c486b;
		border-top-color: #0c486b;
	}
	#navbar .nav>li.active>a {
    	text-decoration: none;
    	background-color: #eee;
    	border: none;
    	color: #000;
	}
	#navbar .glyphicon{
		display: block;
		padding-bottom: 6px;
	}
	#navbar .btn{
		border-radius: 0;
		padding: 0;
	}
	#navbar .btn .glyphicon.secondary-color{
		font-size: 20px;
		padding-right: 0;
	}
	form.my-2 {
	    text-align: right;
	}
	.form-wraper{
		padding-top: 46px;
		padding-bottom: 30px;
	}

}